* {
  box-sizing: border-box;
}

body {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

.signup button {
  position: relative;
}

.signup button:after {
  content: 'Sign Up';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #865CD6;
  transform: translate(-50%, -50%);
}
